body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#4696eb, #00b4d8);
  font-family: "Segoe UI", sans-serif;
}

.container {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 50px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translateX(-100px);
  animation: slideIn 2s ease forwards;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}
.title-string {
  display: inline-block;
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 2s ease forwards;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);

}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#start-btn {
  font-size: 1.4rem;
  padding: 16px 40px;
  background: #fff;
  color: #4696eb;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s, background 0.2s;
}

#start-btn:hover {
  background: #13263e;
  transform: scale(1.1);
  color: #fff;
}

#boat-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.boat {
  position: absolute;
  bottom: 0;
  width: 80px;
  pointer-events: none;
  opacity: 0.9;
  animation: moveBoat linear ;
}

@keyframes moveBoat {
  0% { left: -100px; }
  100% { left: 110%; }
}
